.divformulario{
    margin: auto;
    width: 30%;
}

h2, p{
    text-align: center;
}

#numero {
    width: 30%;
    margin-left: 20%;
}

#boton {
    color: white;
    background-color: blue;
}


.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}


label{
    margin-left: 5%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    margin: auto;
    width: 70%;
}

.chart {
    width: 80vw;
    height: 80vh
}


.infoPokemon {
    margin-bottom: 5em; 
    margin-left: 2em;  
}

.main_container {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;

}


@media screen and (min-width: 768px) {
    .main_container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
    }
    
    .box-datos {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .chart {
        grid-column: 2/3;
        grid-row: 1/2;
        width: 30vw;
        height: 30vh;
    }
}
